@import "../../responsive.scss";

.searchBar {
    .type {

        button {
            padding: 16px 36px; 
            border: 1px solid #999;
            border-bottom: none;
            cursor: pointer;
           text-transform: capitalize;
           background-color: white;


            &.active {
                background-color: black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;

              
            }

            &:nth-child(2) {
                border-top-right-radius: 5px;
                border-left: none;
            }

        }
    }

    form {
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include sm {
        flex-direction: column;
        border: none;
        }

        input {
            width: 200px;
            padding: 0 10px;
            border: none;

            @include lg {
                padding: 0 5px;
                &:nth-child(2), &:nth-child(3) {
                  width: 140px;
                }
            }

            @include md {
                padding: 0 5px;
                width: 200px;
                &:nth-child(2), &:nth-child(3) {
                  width: 200px;
                }
            }

            @include sm {
                width: auto;
                padding: 20px;
                border: 1px solid #999;
                &:nth-child(2), &:nth-child(3) {
                  width: auto;
                }
            }
            
        }

        button {
            border: none;
            cursor: pointer;
            background-color: #fece51;
            flex: 1;

            @include sm {
           padding: 10px;
        }



            img {
                width: 24px;
            }

        }
        
    }
}